.footer__menu-item-content {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  border: 0;
  color: var(--color_text_secondary);

  &:hover, &:focus {
    color: var(--color_warning);
  }

  &:focus {
    outline: none;
  }
}
