.page {
  font-family: 'YS Text', 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 13px;
  line-height: 16px;
  color: var(--color_text_primary);

  --color_text_primary: #000;
  --color_text_secondary: #7F8285;
  --color_success: #00B341;
  --color_warning: #FF3333;
  --color_button_bg_primary: #FFCC00;
  --color_button_bg_primary_accent: #F2C200;
  --color_button_bg_secondary: #E6E6E6;
  --color_button_bg_secondary_accent: #DBDBDB;
  --color_border_primary: #B3B3B3;
  --color_border_secondary: #F0F2F3;
  --space_xxs: 6px;
  --space_xs: 8px;
  --space_s: 10px;
  --space_m: 12px;
  --space_l: 16px;
  --space_xl: 20px;
  --space_xxl: 24px;
}
