.commit-card__meta {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  color: var(--color_text_secondary);

  @media (min-width: 1024px) {
    max-width: 30%;
    position: absolute;
    top: var(--space_m);
    right: var(--space_l);
    display: flex;
    flex-direction: column;
  }
}
