.button_theme_secondary {
  color: var(--color_text_primary);
  text-align: center;
  background: var(--color_button_bg_secondary);
  border-radius: 4px;
  padding: var(--space_xl);
  padding-top: var(--space_m);
  padding-bottom: var(--space_m);

  &:hover {
    background-color: var(--color_button_bg_secondary_accent);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--color_border_primary);
  }
}
